* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: serif;
	font-size: 18px;
	line-height: 1.5em;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: normal;
} 

img, video {
	width: 100%;
}

a:link,
a:visited {
    color: #00F;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a:active {
	color:#FFF;
}

ul {
	list-style-type: none;
	margin: 0px;
}


.large { 
	font-size: 120px;
	line-height: 0.6em;
}
.squeezed
{
	letter-spacing: -0.25em; 
	-webkit-transform: scale(1, .75);
	   -moz-transform: scale(1, .75);
	    -ms-transform: scale(1, .75);
	     -o-transform: scale(1, .75);
    		transform: scale(1, .75);
    -webkit-transform-origin: left top;
	   -moz-transform-origin: left top;
	    -ms-transform-origin: left top;
	     -o-transform-origin: left top;
    		transform-origin: left top;
}

.float-container:after
{
	content: '';
	display: block;
	clear: both;
	height: 0;
}
.outlineText-white-thick
{
	text-shadow:
		-2px -2px 0 #fff,  
		 2px -2px 0 #fff,
		-2px  2px 0 #fff,
		 2px  2px 0 #fff;
}
.outlineText-black-thick
{
	color: #fff;
	/*-webkit-text-stroke: 2px black;*/
	/*text-shadow:
		-2px -2px 0 #000,  
		 2px -2px 0 #000,
		-2px  2px 0 #000,
		 2px  2px 0 #000;*/
	text-shadow:
		-2px 0 0 #000,  
		 2px 0 0 #000,
		0  2px 0 #000,
		0  -2px 0 #000,
		-2px -2px 0 #000,  
		 2px -2px 0 #000,
		2px  2px 0 #000,
		2px  -2px 0 #000;
	/*text-shadow:*/
		/*inset -2px -2px 0 #000,  
		inset  2px -2px 0 #000,
		inset -2px  2px 0 #000,*/
		/*2px  2px 0 #000;*/
		/*outline: 1px solid;*/
}
/* ids */



